/* C U R S O S E T R E I N A M E N T O S*/
.cursos-fundo {
	background: $color1;
	margin: 30px 0;
	height: 100%;
	img {
    	width: 100%;
	}
	div {
		padding: 15px;
		p:nth-child(1) {
			font-weight: 700;
		}
		p {
			min-height: 60px;
		}
	}
	a {
		font-size: 14px;
	    text-transform: uppercase;
	    background: $color3;
	    color: #fff;
	    padding: 8px;
	    display: block;
	    width: 90px;
	    margin: 15px auto;
	    text-align: center;
	    &:hover {
	    	background: #fff;
	    	color: $color3;
	    	text-decoration: none;
	    }
	}
}