/* C U R S O S */
.banner-cursos {
	background: url("../tzf-theme/img/banner-cursos.jpg");
  	background-size: cover;
  	background-position: center;
  	min-height: 300px;
  	margin: 50px 0;
}
.img-and-text {
	display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    img {
    	width: 200px;
    }
    p {
    	font-size: 30px;
    	margin-left: 40px;
 		color: #fff;
    }
}
.cursos-box {
	margin: 50px 0;
	border-bottom: 2px solid $color4;
}
.cursos-conteudo {
	li {
		padding-bottom: 10px;
	}
}
.cursos-informacao {
	td {
		padding-bottom: 10px;
	}
	span { 
	margin-left: 40px;
	}
}
.cursos-formulario {
	margin-bottom: 50px;
	p {
		font-size: 30px;
	}
}