/* D E S E N V O L V I M E N T O */
.desenvolvimento-box-img {
	@include page-box-img (flex, center, center, 40px 0);
}
.desenvolvimento-text {
	padding: 25px;
    text-align: justify;
    p {
    	margin: 20px 0;
    }
	p:nth-child(1) {
		@include page-first-p-text (20px, 700, uppercase);
	}
	p:nth-child(2) {
		font-weight: 700;
	}
}