/* E Q U I P A M E N T O S */
.banner-equipamentos {
	min-height: 500px;
  	height: auto;
}
.banner-equipamentos-img {
  	background: url("../tzf-theme/img/banner-equipamentos.jpg");
  	background-size: cover;
  	background-position: center;
}
.banner-equipamentos-box {
  	background: $color5;
  	display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-equipamentos-text {
	max-width: 350px;
	margin: 50px;
	p {
		margin-bottom: 30px;
	}
	p:nth-child(1) {
		font-size: 20px;
    	font-weight: 700;
	}
	a {
		color: #fff;
	    background-color: $color6;
	    padding: 10px 20px;
	    text-transform: uppercase;
	    // margin-top: 30px;
	}
}
.menu-second-container {
	margin: 40px 0;
}
#menu-second {
	li {
		display: inline-block;
	    list-style: none;
	    margin: 5px;
	    &:hover, &:focus, &:link, &:active {
	    	color: $color3;
      		text-decoration: none;
	    	a {
      		color: $color3;
      		text-decoration: none;
      		}
      	}
	}
	a {
		font-size: 15px;
    	font-weight: 700;
    	color: #000;
    	text-decoration: none;
    	padding: 15px;
    	text-transform: uppercase;
	}
}
.pulse {
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	transition: all 0.4s linear;
	&:hover {
		-webkit-animation: smallToBig 300ms alternate infinite ease;
		-moz-animation: smallToBig 300ms alternate infinite ease;
	}
}
@-webkit-keyframes smallToBig{from {-webkit-transform: scale(1);}to {-webkit-transform: scale(1.1);}}
@-moz-keyframes smallToBig{from {-moz-transform: scale(1);}to {-moz-transform: scale(1.1);}}

#ajax-content {
	display: flex;
    align-items: center;
    justify-content: center;
}